# dependencies
/node_modules

# next
/.next
/out

# production
/build

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*

# typescript
*.tsbuildinfo
